@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$header-font: "Roboto Mono", monospace;
$body-font: "Roboto", sans-serif;

$text-small: 14px;
$text-large: 20px;